replicaCount: 1

image:
  repository: us-central1-docker.pkg.dev/milton-k8s-gcp-cluster/flask-api-repo/flask-api
  pullPolicy: Always
  tag: "latest"

service:
  type: LoadBalancer
  port: 80
  targetPort: 8080

serviceAccount:
  create: true
  name: ""

resources: {}

autoscaling:
  enabled: false

podAnnotations: {}
podLabels: {}

ingress:
  enabled: false

httpRoute:
  enabled: false


